.btn {
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 2.5px;
    border-radius: 8px;
    opacity: 0.9;
}

.btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(252, 120, 190);
    opacity: 1;

}

.active {
    color: #fff;
    background-color: rgb(252, 120, 190);
    opacity: 1;
}